* {
    color:#b0aaaa;
    
}


#nav {
    margin-bottom: 0;
}


#inicio {
    background-image: url(../img/portada.png) ;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 900px;
    
}


#inicio #titulo {
    margin-top: 3%;
    font-family: 'Molle', cursive;
    color: #6c4637;
}

#galeria article {
    margin-left:5%;
    margin-right:5%;
}

#galeria {
    background-color: gainsboro;
}

#galeria h2{
    margin-top:0;
    margin-bottom: 2%;
    text-align: center;
    padding-top: 1%;
    color: white;
    text-shadow: 2px -2px 1px #000;
}

#footer {
    background-color: black;
    height: 30px;

}

.modal.and.carousel {
  position: fixed; 
}

@media (max-width: 700px) {
  #inicio {
    background-image: url(../img/portadaMobile.png) ;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
        }
    }